.search {
  padding: 0 10px;
  display: flex;

  .search_input {
    float: left;
    width: 0px;
    height: 40px;
    background: white;
    transition: padding .3s 0.3s, border .3s 0.3s, width .2s .3s cubic-bezier(0.225, 0.010, 0.475, 1.010), text-indent .2s .3s;
    padding: 0px;
    text-indent: 30px;
    outline: none;
    border: 0 solid #b2b2b2;
    font-size: 12px;
    color: #b2b2b2;
    border-radius: 5px;
    //text-transform: uppercase;
    font-family: 'Nunito', sans-serif;
  }

  .hide_box {

  }

  .show_box {
    width: 230px;
    padding: 5px;
    border: 2px solid #b2b2b2;
    text-indent: 0px;
  }

  label {
    position: absolute;
    top: 2px;
    right: 14px;
    bottom: 2px;
    width: 30px;
    height: 36px;
    background: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    //transition: all .3s 0s;

    .search_icon {
      position: absolute;
      top: 28%;
      left: 32%;
      //transform: translateY(-50%) translateX(50%) rotate(0deg) scale(1);
      transition: left .3s .3s, transform .3s .3s, color .3s;
      color: #a6a6a6;
      font-size: 20px;
      z-index: 2;
      margin: auto;
    }

    .remove_icon {
      transform: rotate(-360deg) scale(0) !important;
      color: #b2b2b2 !important;
    }

    .add_icon {
      transform: rotate(360deg) scale(1) !important;
      color: #b2b2b2 !important;
    }

    .remove_close_icon {
      transform: rotate(360deg) scale(0);
      color: #b2b2b2;
    }

    .last {
      position: absolute;
      top: 28%;
      left: 32%;
      transform: translateY(-50%) rotate(0deg) scale(0);
      transition: right .3s .3s, transform .3s .3s, color .3s;
      color: white;
      font-size: 20px;
      cursor: pointer;
      z-index: 2;
      margin: auto;
    }
  }

}

.modal {
  position: fixed;
  background: white;
  justify-content: center;
  align-items: center;
  padding: 10px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  background: rgba(0, 0, 0, 0.65);
  transition: all .3s;
  opacity: 0;
  visibility: hidden;

  .modal_content {
    width: 100%;
    max-width: 600px;
    max-height: calc(100% - 100px);
    background: white;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    transition: all .3s;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    //transform: translateY(-100px);
    //opacity: 0;
    //pointer-events: none;

    .modal_header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .modal_title {
        font-size: 20px;
        font-weight: 600;
        color: #333;
      }

      .modal_close {
        font-size: 20px;
        color: #333;
        cursor: pointer;
      }
    }

    .modal_body {
      margin-top: 20px;
      overflow: hidden auto;

      .modal_text {
        font-size: 16px;
        color: #333;
      }
    }

  }
}

.modal_show {
  opacity: 1;
  visibility: visible;
  //transform: translateY(0px);
  //opacity: 1;
  //pointer-events: all;
}