.sidebar {
  position: fixed;
  z-index: 100;
  top: 70px;
  left: 0;
  //width: 250px;
  width: 0;
  height: 100vh;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.item {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  color: #000;
  text-decoration: none;
  transition: all 0.3s ease;

  &:hover {
    background-color: rgb(220 252 231);
  }
}

.sub_item {
  align-items: center;
  color: #000;
  text-decoration: none;
  transition: all 0.3s ease;
  //
  //&:hover {
  //  background-color: rgb(220 252 231);
  //}

  .dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: #000;
    text-decoration: none;
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover {
      background-color: rgb(220 252 231);
    }

    .dropdown_icon {
      transition: all 0.3s ease;
    }

    .open {
      transform: rotate(180deg);
    }
  }

  .dropdown_item {
    padding: 0 0 0 20px !important;
    color: #000;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    max-height: 0;
    overflow: hidden;
  }

  .dropdown_item_open {
    max-height: 1000px;
  }
}