@import url(https://fonts.googleapis.com/css?family=Nunito:400,700);

.two {
  background: #F6F792
}

.three {
  background: #EA2E49;
}

.four {
  background: #333745;
}

.search {

  &_bar {
    width: 280px;
    position: relative;
    margin: 0 auto;


    input[type="text"] {
      float: left;

      width: 0;
      height: 40px;
      background: white;
      transition: padding .3s 0.3s, border .3s 0.3s, width .2s .3s cubic-bezier(0.225, 0.010, 0.475, 1.010), text-indent .2s .3s;
      padding: 0px;
      text-indent: 30px;
      outline: none;
      border: 0 solid #b2b2b2;
      font-size: 12px;
      color: #b2b2b2;
      border-radius: 5px;
      text-transform: uppercase;
      font-family: 'Nunito', sans-serif;

    }

    ::-webkit-input-placeholder { /* Safari, Chrome and Opera */
      color: #b2b2b2;
      font-weight: 400;
      font-family: 'Nunito', sans-serif;
    }

    input[type="checkbox"] {
      display: none;
    }

    input[type="checkbox"]:checked + input {
      width: 230px;
      padding: 5px;
      border: 2px solid #b2b2b2;
      text-indent: 0px;
    }

    input[type="checkbox"]:checked + input + label .search_icon {
      //right: 0px;
      transform: rotate(360deg) scale(0);
      color: #b2b2b2;

      &:hover {
        //background:white;
      }
    }

    input[type="checkbox"]:checked + input + label .last {

      transform: translateY(-50%) rotate(360deg) scale(1);

      &:hover {
        //background:white;
      }
    }

    input[type="checkbox"]:checked + input + label p {
      //top: 40%;
      transition: all .3s .45s;
      transform: rotate(0deg) scale(1);

    }

    input[type="checkbox"]:not(checked) + input + label p {
      //top: -70%;
      transition: all .3s 0s;
      transform: rotate(0deg) scale(0);
    }

    label {
      position: absolute;
      top: 2px;
      right: 2px;
      bottom: 2px;
      width: 60px;
      height: 36px;
      background: #ffffff;
      border-radius: 5px;
      cursor: pointer;
      //transition: all .3s 0s;

      .search_icon {
        position: absolute;
        top: 50%;
        left: 32%;
        transform: translateY(-50%) translateX(50%) rotate(0deg) scale(1);
        transition: left .3s .3s, transform .3s .3s, color .3s;
        color: #a6a6a6;
        font-size: 20px;
        z-index: 2;
        margin: auto;
      }

      .last {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) rotate(0deg) scale(0);
        transition: right .3s .3s, transform .3s .3s, color .3s;
        color: white;
        font-size: 20px;
        cursor: pointer;
        z-index: 2;
        margin: auto;
      }

      p {
        position: absolute;
        margin: 0;
        right: 35px;
        color: #b2b2b2;
        font-weight: 700;
        font-size: 30px;
        top: -23%;
        transform: rotate(0deg) scale(0);
      }
    }

    /* .search_icon {
       position: absolute;
       font-size: 30px;
       top: 16%;
       //transform: translateY(-50%) translateX(50%) rotate(0deg) scale(1);
       cursor: pointer;
       z-index: 2;
       margin: auto;
       border-radius: 4px;
       width: 25px;
       right: 6px;
       height: 30px;
       background: transparent;
       transition: right .3s .3s, transform .3s .3s, color .3s;
       line-height: 60px;
       color: #b2b2b2;

       &:hover {
         color: #b2b2b2;
       }
     }

     .last {
       top: 50%;
       right: 10px;
       -webkit-transform: translateY(-50%) rotate(0deg) scale(0);
       transform: translateY(-50%) rotate(0deg) scale(0);
     }*/


  }
}