@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  font-family: 'Proxima Nova', Georgia, sans-serif;
  transition: background-color 0.5s ease;
}

.slick-slide {
  padding: 10px;
  opacity: .5 !important;
  transform: scale(0.9) !important;
  transition: all 0.3s ease !important;
}

.slick-center {
  opacity: 1 !important;
  transform: scale(1) !important;
}

.slick-list {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}

.slick-arrow {
  display: none !important;
}

.slick-dots {
  display: none !important;
}

.home-slider .swiper-slide img {
  display: block;
  object-fit: cover;
  height: calc(100vh - 70px) !important;
}

.related-products-slider {
  position: relative;
}

.tooltip {
  /*display: inline-block;*/
  cursor: pointer;
}

.tooltip .tooltiptext {
  /*visibility: hidden;*/
  width: 100%;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  transition: all 0.5s linear;
  position: absolute;
  z-index: 1000;
  top: 90%;
  left: 0;
  white-space: normal;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.product_slider {
  .swiper-wrapper {
    height: 400px;

    img {
      object-fit: contain;
      height: 100%;
    }
  }
}

.product_slider_thumb {
  cursor: pointer;
  height: 80px;
  margin-top: 20px;

  .swiper-slide {
    border: .5px solid #e7e7e7;
    padding: 5px;
    opacity: 0.4;

    img {
      height: 100%;
      object-fit: contain;
    }

  }

  .swiper-slide-thumb-active {
    opacity: 1;
  }
}