@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

body {
    font-family: 'Proxima Nova', Georgia, sans-serif;
    transition: background-color 0.5s ease;
}

.slick-slide {
    padding: 10px;
    opacity: .5 !important;
    transform: scale(0.9) !important;
    transition: all 0.3s ease !important;
}

.slick-center {
    opacity: 1 !important;
    transform: scale(1) !important;
}

.slick-list {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}

.slick-arrow {
    display: none !important;
}

.slick-dots {
    display: none !important;
}

.home-slider .swiper-slide img {
    display: block;
    object-fit: cover;
    height: calc(100vh - 70px) !important;
}